.input-container {
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: medium;
}

.input-title {
    margin-bottom: 0.5rem;
}

.input-field {
    color: #272727;
    border: 1px solid #bdbdbd;
    border-radius: 30rem;
    padding: 0.5rem 1rem;
    margin-top: 0.7rem;
}